.main{
    border: 3px solid black;
    height: 100vh;
    border-radius: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#upld{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #AFDBF5;
}
#notes{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #AFDBF5;
    margin: 150px 0 0 10px ;
}
#pyq{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #AFDBF5;
    margin: 150px 10px 0 0 ;
}