<div class="top-img"></div>

<div class="cards">
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">

    
    <button class="btn btn-primary" type="submit" (click)="guessName()">Button</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p>
    <svg width="400" height="200">
        <path [attr.d]="getCurlyPath()" stroke="skyblue" fill="none" stroke-width="3"/>
    </svg>
      
</div>


<div class="cards">
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p> -->
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">
</div>
<!-- 
<div class="cards">
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p>
</div>


<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p>
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">
</div>

<div class="cards">
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p>
</div>


<div class="cards">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos quas itaque tenetur corrupti provident. Accusantium adipisci officia ea,
        officiis hic in, nostrum minima culpa facere, perferendis odio at quas pariatur!
    </p>
    <img src="assets/image.webp" class="animated-border" alt="Animated Border">
</div> -->