.main{
    display: flex;
}

.container1{
    border: 2px solid black;
    width: 50%;
    height: 100vh;
    border-radius: 10px;
    margin-right: 10px;
}

.container2{
    border: 2px solid black;
    width: 50%;
    height: 100vh;
    border-radius: 10px;
}