.container{
    border: solid 3px black;
    display: flex;
    justify-content: space-around; /* Distributes space between items */
    align-items: center; /* Full height of the viewport */
    border-radius: 20px;

}
.container li{
 border-left : 0;
}
.text{
    font-family: 'Protest Strike', sans-serif; /* Apply the font to h3 elements */
    font-size: 36px; /* Adjust the font size */
    color: #f53192; /* Optional: Set the text color */
    background: linear-gradient(to right, blueviolet , rgb(195, 199, 191));
    color: transparent;
    -webkit-background-clip: text;
}